*~
\#*\#
emacs.d/.python-environments/*
emacs.d/var/recentf-save.el
emacs.d/var/projectile/known-projects.el
emacs.d/tramp
emacs.d/var/ac-comphist.el
emacs.d/var/ido-save-directory-list.el
emacs.d/var/mc-list.el
emacs.d/var/*
emacs.d/elpa/*
emacs.d/eshell/*
projectile-bookmarks.eld
ac-comphist.dat
ido.last
db.sqlite3
*.elc
