;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Wed Jun 25 17:20:08 2008
;; Desktop file format version 206
;; Emacs version 22.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("desktop-" "desk-top" "desktop" "D"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/nurv/Projectos/surf-the-edge.com/labs/opheu.com/main.py"
  "main.py"
  'python-mode
  '(linum-mode yas/minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/nurv/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(hs-minor-mode linum-mode yas/minor-mode)
  26380
  '(26737 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . mule-utf-8-unix)))

(desktop-create-buffer 206
  "/Users/nurv/Projectos/surf-the-edge.com/labs/opheu.com/app.yaml"
  "app.yaml"
  'fundamental-mode
  '(linum-mode yas/minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/nurv/Projectos/surf-the-edge.com/labs/opheu.com/views/create_article.dhtml"
  "create_article.dhtml"
  'html-mode
  '(linum-mode yas/minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/nurv/Projectos/surf-the-edge.com/labs/opheu.com/views/account_edit.dhtml"
  "account_edit.dhtml"
  'html-mode
  '(linum-mode yas/minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/nurv/Projectos/ProjectoPP/ADT2.lisp"
  "ADT2.lisp"
  'lisp-mode
  '(hs-minor-mode slime-mode linum-mode yas/minor-mode)
  591
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . mule-utf-8-unix)))

